@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&family=Open+Sans:wght@300;600&family=Oswald:wght@200&display=swap');








*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    background-color: #ccc;
    line-height: 1.4rem;
    font-family: serif;
}





.main
{
    margin: 16px auto;
    background: rgb(231, 158, 194);
    width: 96%;
    max-width: 700px;
    padding: 16px;
    border-radius: 4px;
}




html
{
    font-size: 100%;
}



p
{
    font-size: 1.2rem;
    margin-bottom: 1.68rem;
}








h1
{
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-size: 2.4 rem;
    margin-bottom: 1.68rem;
}








.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ccc;
    margin-bottom: 1.68rem;
    padding: 16px
}
 




.nav a {
    text-decoration: none;
    color: #000;
    font-size: 1,8rem;
}








.nov a:hover {
    text-decoration: underline;
}








img
{
    max-width: 100%;
   
}









